<div class="mainHeader" style="padding: 5px 0px;">
    <h1 style="margin: 5px 0px 0px 10%; font-size: 200%;"><a href="">Blockbuster</a></h1>  
    
    <ul style="display: flex; margin: 5px 50px 0px 0px; overflow: hidden;">    
        <li class="lil"> <span style="font-size:30px;cursor:pointer" (click)="openNav()"><mat-icon>menu</mat-icon></span></li>
        <li class="lil"> <span style="font-size:30px;cursor:pointer" (click)="openSearch()"><mat-icon>search</mat-icon></span></li>
    </ul>    
</div>

<div id="mySearch" class="overlay" style="overflow: hidden;" >
    <a href="javascript:void(0)" class="closebtn" (click)="closeSearch()"><mat-icon style=" background-color: rgba(0,0,0, 0.1);">clear</mat-icon></a>
    <div class="overlay-content" style="background-color: rgba(0,0,0, 0.1);">
        <input style="text-align: center; background-color: rgba(29,29,29, 0.1); width: 30%; font-size: X-large; margin: 10% 0px;" type="text" placeholder="Search.." name="search">
    </div>
</div>

<div id="myNavLog" class="overlay" style="Overflow: hidden;">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"><mat-icon style=" background-color: rgba(0,0,0, 0.1);">clear</mat-icon></a>
    <div class="overlay-content" style="background-color: rgba(0,0,0, 0.1);">
        <ul style="display: flex; margin: 5px 50px 0px 0px; overflow: hidden;">    
            <li><a href="Google.dk"><span>Indkøbskurv</span></a></li>
            <li><a href="login"><span>Login</span></a></li>
        </ul> 
    </div>
       
</div>