<div class="container">
    <div class="loginBox">
        <div class="titleContainer">
            <div class="loginTitle">Login</div>
            <div class="splitter"></div>
        </div>
        <div class="formContainer">
            <form>
                <label>Brugernavn:</label><br>
                <input type="text"><br>
                <label>Password:</label><br>
                <input type="text"><br>
                <div class="formButtonContainer">
                    <div class="formButton">
                        <button type="submit">Login</button>
                    </div>
                    <div class="signUp">Don't have an account? <a routerLink="/signup">Sign up!</a></div>
                </div>
            </form>
        </div>
    </div>
</div>